<!DOCTYPE html>
<html lang="en">
<head>
  <title>Facebook Commonalities</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body bgcolor="#E6E6FA">

  <div class="container">
    
    <div class="header">
      <h2 align="center">Facebook Commonalities</h2>
    </div>

    <div class="jumbotron">

     <center> <img src="background.png" align="middle"></center>
     <h3 align = "center">Find what you and your facebook friends share in common</h3>
     
     <form class="form-signin">
      <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Login with Facebook</button>
    </form>

  </div>


  <footer class="footer">
    <p>&copy; FacebookCommonalities 2016</p>
  </footer>

</div>
</body>
</html>