<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
<html>
<head>
	<title>Commonalities</title>
	<script src ="../static/js/d3.v3.min.js"></script>

</head>
<body>
	<div align="right"><a href="/"class="button">Log  Out</a>
	</div>
<script type="text/javascript">
	var commonData = {{common_data|tojson}};
	var friend_data = {{friend_data|tojson}};
	var user_data ={{user_data|tojson}}
	// console.log(friend_data);
	// console.log(commonData);
</script>
	  <script type="text/javascript" src="../static/js/collapsibleTree.js">
	  	
	  </script>
     <script type="text/javascript" src="../static/js/commonality.js"></script>
</body>
</html>
